<%- include('Layouts/header') %> 

    <%- include('Layouts/navbar') %>
    <h1>Yayyyy We Are Here</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, dicta possimus autem explicabo eveniet labore deleniti facilis aliquid, deserunt consequuntur sed laboriosam perferendis minima ex aut cumque reiciendis error officia!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam architecto exercitationem laudantium esse, fuga aliquid repellendus sunt. Facilis aperiam tempora excepturi quis est id, quidem esse ullam architecto, veniam aut?
        In accusamus excepturi modi iusto ex beatae perspiciatis maxime ut magni magnam distinctio minus porro eos fugit animi eaque repellat laborum, aliquid aspernatur sapiente tempora enim quod earum. Tempore, et.
    </p>
    
    <%- include('Layouts/footer') %> 